body {
    background-image: url(../img/fondo.jpg);
}

.bg-color {
	background: #009999;
}

div {

}



.position {
    margin-left: 100px;
}
.position img {
    margin-top: 60px;
    position: relative;
}
.content-portada{
    background-image: url(../img/a.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;  
}

.padre {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hijo {
  width: auto;
}

.content-item1{
    width: 700px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 230px;
}

.content-item1 h4{
    color: white;
    font-size: 60px;
    font-weight: 100;
    font-family: 'Lobster', cursive;
    font-family: 'Kaushan Script', cursive;
}

.icon-twitter {
	color: #66b3ff;
}

.icon-twitter:hover {
	color: #99d6ff;
	text-decoration: none;
}

.icon-instagram{
	color: #ff8080;
}

/*.inst {
    width: 30px;
    height: 20px;
}*/
.icon-instagram:hover{
	color: #ff6666;
}

.sobre-nosotros{
    width: 100%;
    padding: 40px;
    background: white;
    margin-top: 30px;
}

.content-details{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: -20px;
    
}

.cuadro-fondo { 
   padding:8px 8px 20px 8px; 
   background-color: #009999; 
   width: 250px;  
} 

.cuadro-fondo-2 {
   padding:8px 8px 20px 8px; 
   background-color: #009999; 
   width: 250px;
   margin-left: 90px;
}

.content-item2{
    width: 370px;
    text-align: center;
    margin: 10px;
    margin-left: 50px;
    
}

.content-item2 h4{
    color: #009999;
}

hr {
    background: #d6f5f5;
}

.img img {
      z-index: 40;
      width:79%;
      height:230px;
      box-shadow: 30px -30px 0 0 #009999;}

.img-1 img {
      z-index: 40;
      width:79%;
      height:230px;
      box-shadow: -30px -30px 0 0 #009999;}

.p2 {
    margin-top: 56px;
}

.p3 {
    margin-top: 30px;
}

hr {
    color: #008080;
}



.sucursales {
    width: 100%;
    padding: 40px;
    height: 340px;
    background: white;
    margin-top: 30px;
}

.estamos {
    width: 100%;
    padding: 50px;
    background: white;
    margin-top: 30px;

}

.estamos img {
    margin:0 18px;
    width: 250px;
    height: 200px;
    border: 8px solid #4da6ff;
}

.texto {
    color: #009999;
}

#carouselh {
    width: 90%;
    height: 160px;
    margin-left: 85px;
    background: #ffffff;
    border: none;
}

#carouselhAuto {
    width: 90%;
    height: 160px;
    margin-left: 85px;
    background: #009999;
    border: none;
}

#carouselh img {
    border: none;
}



.sub {
    font-family: 'Lobster', cursive;
	font-family: 'Kaushan Script', cursive;
	font-size: 35px;
    color: #008080; 
    text-align: center;

}

.sub-a {
    font-family: 'Lobster', cursive;
    font-family: 'Kaushan Script', cursive;
    font-size: 35px;
    color: #ffff99; 
    text-align: center;
}

.content-module{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentmodule{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.content-item-e{
    width: 280px;
    text-align: center; 
}

.content-module h5{
    color: #009999;
    text-align: center;
    margin-left: 20px;
    margin-top: 23px;
}

.content-module img{
    margin-top: 40px;
    transition: all 300ms;
}

.content-module img:hover{
    transform: rotate(-10deg);
    transition: all 300ms;
}

.historia{
    width: 100%;
    background: #009999;
    padding: 50px;
    margin-top: 30px;
}

.t-historia{
    padding: 10px;
}

.toppings {
    width: 100%;
    height: 290px;
    padding: 40px; 
    background: #009999;
    margin-top: 30px;
}

.content-item3{
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
}

.content-item3 h4{
    text-align: center;
    font-size: 20px;
}
.content-item3 p{
    text-align: center;
    margin-top: 20px;
    color: #7a7a7a;
    font-weight: 500;
}

.content-item3 img{
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

.content-item4{
    width: 90%;
    max-width: 800px;
    padding: 50px;
    margin: auto;
    color: white;
    text-align: center;
}

.content-item4 h4{
    font-size: 20px;
}

.content-item4 p{
    margin-top: 20px;
}

.myfoot {
    width: 80%;
    margin: 0 auto;
    padding: 60px;
}

.contacto {
    padding: 40px;
}


        .row > .col-12 {
            width: 80%;
        }

        .row > .off-12 {
            margin-left: 10%;
        }

        .row.gtr-0 {
            margin-top: 0px;
            margin-left: 0px;
        }

            .row.gtr-0 > * {
                padding: 0px 0 0 0px;
            }

            .row.gtr-0.gtr-uniform {
                margin-top: 0px;
            }

                .row.gtr-0.gtr-uniform > * {
                    padding-top: 0px;
                }

        .row.gtr-25 {
            margin-top: -7.5px;
            margin-left: -7.5px;
        }

            .row.gtr-25 > * {
                padding: 7.5px 0 0 7.5px;
            }

            .row.gtr-25.gtr-uniform {
                margin-top: -7.5px;
            }

                .row.gtr-25.gtr-uniform > * {
                    padding-top: 7.5px;
                }

        .row.gtr-50 {
            margin-top: -15px;
            margin-left: -15px;
        }

            .row.gtr-50 > * {
                padding: 15px 0 0 15px;
            }

            .row.gtr-50.gtr-uniform {
                margin-top: -15px;
            }

                .row.gtr-50.gtr-uniform > * {
                    padding-top: 15px;
                }

        .row {
            margin-top: -30px;
            margin-left: -30px;
        }

            .row > * {
                padding: 30px 0 0 30px;
            }

            .row.gtr-uniform {
                margin-top: -30px;
            }

                .row.gtr-uniform > * {
                    padding-top: 30px;
                }

        .row.gtr-150 {
            margin-top: -45px;
            margin-left: -45px;
        }

            .row.gtr-150 > * {
                padding: 45px 0 0 45px;
            }

            .row.gtr-150.gtr-uniform {
                margin-top: -45px;
            }

                .row.gtr-150.gtr-uniform > * {
                    padding-top: 45px;
                }

        .row.gtr-200 {
            margin-top: -60px;
            margin-left: -60px;
        }

            .row.gtr-200 > * {
                padding: 60px 0 0 60px;
            }

            .row.gtr-200.gtr-uniform {
                margin-top: -60px;
            }

                .row.gtr-200.gtr-uniform > * {
                    padding-top: 60px;
                }


/* Form */

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        background: none;
        border-radius: 4px;
        border: 0;
        border: solid 1px rgba(255, 255, 255, 0.75);
        color: #006666;
        display: block;
        outline: 0;
        padding: 0.75em;
        text-decoration: none;
        width: 100%;
        background: white;
        
        opacity: 1;
    }

        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="email"]:focus,
        select:focus,
        textarea:focus {
            background: #e0ebeb;
            border-color: #00b3b3;
        }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
        line-height: 1em;
    }

button {
    border: none;
}

.button {
    background:#7f8c8d;
    color:#fff;
    display:inline-block;
    font-size:1.25em;
    padding:5px 0;
    text-align:center;
    width:100px;
    text-decoration:none;
    margin-top: 15px;
}

#centro {

   position: absolute;
   top: 50%;
   left: 80%;
}


.button.yellow {
    background:#e67e22;
    
    text-decoration: none;
}

.button.medium {
    width:110px;
    height: 40px;
}

.button.radius {
    border-radius:50px;
}


.foot{
    width: 100%;
    padding: 60px;
    background: #008080;
}

.white {
    color: white;
}

.info {
    margin-top: 30px; 
}


footer {
    background: #4da6ff;
    width: 100%;
    padding: 10px;
    height: 50px;
    font-size: 16px;
    color: white;
    text-align: center;
}

@media screen and (max-width:900px){
    .content-item1{
        width: 100%;
        top: 230px;
    }
    .content-item1 h4{
    font-size: 58px;
    }
    
    .myfoot {
        width: 85%;
        margin: 0 auto;
        padding: 60px;
    }

}

@media screen and (max-width:800px){
    .content-item1{
        width: 100%;
        top: 230px;
    }
    .content-item1 h4{
    font-size: 54px;
    }

    .sobre-nosotros {
        margin-top: -2px;
    }    

    .myfoot {
        width: 100%;
        margin: 0 auto;
        padding: 80px;
    }

}

@media screen and (max-width:700px){
    .content-module{
        width: 100%;
    }
    .content-item1{
        width: 100%;
        top: 225px;
    }
    .content-item1 h4{
    font-size: 52px;
    }

    .sobre-nosotros {
        margin-top: -50px;
    }      
}

@media screen and (max-width:600px){
    .content-module{
        width: 110%;
    }
    .content-item1{
        width: 100%;
        top: 180px;
    }
    .content-item1 h4{
    font-size: 47px;
    }
    

.sobre-nosotros {
        margin-top: -120px;
    }  



}

@media screen and (max-width:500px){
    .content-module{
        width: 110%;
    }
    .content-item1{
        width: 100%;
        top: 165px;
    }
    .content-item1 h4{
    font-size: 38px;
    }

.sobre-nosotros {
        margin-top: -185px;
    }  
}