﻿/*Horizontal Orientation CSS*/
.jscarousal-horizontal
{
	width: 740px;
	height: 118px;
	padding: 22px 8px 22px 8px;
	position: relative; /*overflow: hidden;*/
}

#carouselh span {
	text-align: center;
}
.jscarousal-horizontal-back, .jscarousal-horizontal-forward
{
	float: left;
	width: 20px;
	height: 68px;
	color: white;
	position: relative;
	top: 6px;
	cursor: pointer;
}
.jscarousal-horizontal-back
{
	background-image: url(izquierda.png);
	background-repeat: no-repeat;
	background-position: left;
}
.jscarousal-horizontal-forward
{
	background-image: url(derecha.png);
	background-repeat: no-repeat;
	background-position: right;
}
.jscarousal-contents-horizontal
{
	width: 700px;
	height: 155px;
	float: left;
	position: relative;
	overflow: hidden;
}
.jscarousal-contents-horizontal > div
{
	position: absolute;
	width: 100%;
	height: 124px;
}
.jscarousal-contents-horizontal > div > div
{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}
.jscarousal-contents-horizontal img
{
	width: 120px;
	height: 100px;
}
/*Horizontal Orientation CSS Ends*/

/*Vertical Orientation CSS Starts*/
.jscarousal-vertical
{
	width: 140px;
	height: 460px;
	background-color: #121212;
	border: solid 1px #7A7677;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.jscarousal-vertical-back, .jscarousal-vertical-forward
{
	width: 100%;
	height: 30px;
	background-color: #121212;
	color: White;
	position: relative;
	cursor: pointer;
	z-index:100;
}
.jscarousal-vertical-back
{
	background-image: url(top_arrow.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
.jscarousal-vertical-forward
{
	background-image: url(bottom_arrow.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.jscarousal-contents-vertical
{
	overflow: hidden;
	width: 140px;
	height: 410px;
}
.jscarousal-contents-vertical > div
{
	position: absolute;
	top: 40px;
	width: 100%;
	height: 820px;
	overflow: hidden;
}
.jscarousal-contents-vertical > div > div
{
	width: 140px;
	height: 125px;
	margin: 8px;
	margin-left: 14px;
}
.jscarousal-contents-vertical > div > div span
{
	display: block;
	width: 70%;
	text-align: center;
}
.jscarousal-contents-vertical img
{
	width: 110px;
	height: 80px;
	border: solid 1px #7A7677;
}
/*Vertical Orientation CSS Ends*/

/*Common*/
.hidden
{
	display: none;
}
.visible
{
	display: block;
}

.thumbnail-text
{
	color: #009999;
	
	text-align: left;
	display: block;
	padding: 10px 2px 2px 0px;
}

@media screen and (max-width: 600px){
	
}